.destination-header{
    height:0.44rem;
    background: #fbc227;
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
    position: absolute;
    width: 100%;
    top: 0;
    span{
        display: block;
        width: 0.5rem;
        height: 0.3rem;
        background: white;
        @include border(1px,white,solid,0.1rem);
        line-height: 0.3rem;
        text-align: center;
        
    }
    .destination-search{
        width: 2.2rem;
        height: 0.3rem;
        @include border(1px,#fff,solid,0.1rem);
        background: white;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        i{
            width: 0.2rem;
            height:0.3rem;
            display: block;
            text-align: center;
            line-height: 0.35rem;
            font-size: 0.16rem;
        }
        input{
            border: none;
            width: 1.9rem;
            height: 0.3rem;
            background: transparent;
         
        }
    }
}
.now-con{
   margin-top: 0.44rem;
    height:1.12rem;
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    .now-con-top{
        width: 3rem;;
        height:0.34rem;
        line-height: 0.34rem;
    }
    .now-img{
          width: 3rem;
          height:0.7rem;
       
        @include justify-content(space-between);
        @include flexbox();
        @include align-items(center);
        .now-img-con{
             width: 30%;
            height:0.7rem;
             img{
                width: 100%;
                height:100%;
            }
        }
    }
}
.hot-con{
    height:1.5rem;
    @include flexbox();
    @include justify-content(center);
    @include flex-direction(column);
    @include align-items(center);
    .hot-con-top{
        width: 3rem;;
        height:0.1rem;
        line-height: 0.1rem;
    }
    .hot-img{
        width: 3rem;
        height:1rem;
        @include flexbox();
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        @include align-items(center);
        .hot-img-con{
           width: 0.9rem;
            height:0.7rem;
           
            margin-top: 0.15rem;
            position: relative;
            img{
                width: 100%;
                height:100%;
            }
            span{
                display: block;
                width: 0.6rem;
                height: 0.19rem;
                background: #000;
                position: absolute;
                opacity: 0.4;
                top: 0.25rem;
                left: 0.15rem;
            }
            p{
                width: 0.6rem;
                height: 0.19rem;
                color: white;
                text-align: center;
                line-height: 0.19rem;
                position: absolute;
                top: 0.25rem;
                left: 0.15rem;
            }
        }
    }
}