.find-header{
    height:0.44rem;
    background: #ffc505;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.18rem;
    h1{
        font-weight: normal;
    }
    
}
.find-nav{
    height:0.73rem;
    background:white;
    ul{
      height: 0.73rem;
      width: 100%;
      @include flexbox();
        @include  justify-content( space-around);
        @include  align-items(center);
      li{
        @include flexbox();
        @include  justify-content( space-around);
        @include  align-items(center);
        @include  flex-direction(column);
        width:0.6rem;
       
        img{
          width: 0.3rem;
          height: 0.25rem;
        }
        span{
          font-size: 0.12rem;
          display: block;
          margin-top: 0.1rem;
        }
      }
    }
}
.find-destioation{
   
    @include flexbox();
    @include  align-items(center);
    @include  flex-direction(column);
    background: white;
    margin-top: 0.1rem;
    .find-top{
        width:3rem;
        height:0.44rem;
        
        @include flexbox();
        @include  align-items(center);
        h1{
            font-size: 0.2rem;
            font-weight: normal;
        }
        b{
            width: 0.05rem;
            height:0.05rem;
            background: #999999;
            @include border(1px,#999999,solid,0.5rem);
            margin-left: 0.06rem;
            margin-right: 0.06rem;
        }
        span{
            color: #666;
        }
    }
    .find-con{
        width: 3rem;
        height:1rem;
       
        @include flexbox();
        @include  justify-content(space-between);
       
       
        .find-con1{
            width: 0.98rem;
            height:1rem;
           img{
               width: 0.98rem;
            height:1rem;
           }
        }
        .find-con2{
            width: 0.98rem;
            height:1rem;
            @include flexbox();
            @include flex-wrap(wrap);
             @include  justify-content(space-between);
             @include  align-items(center);
           img{
              width: 49%;
              height: 49%;
           }
        }
        
    }
    .find-title{
        width: 3rem;
        height: 0.265rem;
        @include flexbox();
        @include  justify-content(center);
        @include  align-items(center);
        b{
            color: #45a4fc;
        }
        i{
            margin-right: -0.05rem;
            color: #45a4fc;
        }
    }
    .find-title1{
//      margin-top: 0.05rem;
        width: 3rem;
        border-top: 1px solid #666;
        height: 0.3rem;
        @include flexbox();
        @include  justify-content(space-between);
        @include  align-items(center);
        .find-left{
             @include flexbox();
             @include  justify-content(space-between);
             @include  align-items(center);
            span{
                width: 0.1rem;
                height: 0.2rem;
                display: block;
//              background: #ccc;
                text-align: center;
                line-height: 0.2rem;
                margin-right: 0.05rem;
                img{
                    width: 0.1rem;
                    height: 0.1rem;
                }
                
            }
        }
        
    }
    .find-hot{
        width:3rem;
        margin-bottom: 0.5rem;
        
        .hot-answers{
            width:100%;
            height:0.24rem;
            line-height: 0.24rem;
           
        }
        .head_portrait{
            width: 100%;
            height:0.26rem;
            margin-bottom: 0.1rem;
            img{
                 
                 height:0.26rem;
            }
            span{
                color: #ffc505;
            }
        }
        .hot-answers1{
            width:100%;
            height:0.2rem;
            line-height: 0.2rem;
           
        }
         .hot-answers2{
            width:100%;
            height:0.2rem;
            line-height: 0.2rem;
            
            span {
               display: block;
            }
        }
        .hot-answers3{
            margin-top: 0.25rem;
            width:100%;
            height:0.1rem;
            line-height: 0.1rem;
            
        }
        .find-more{
//          border-top: 1px solid #666;
            width:100%;
            height:0.2rem;
            @include flexbox();
            @include  justify-content(center);
            @include  align-items(center);
            color: #45a4fc;
//          margin-top: 0.05rem;
            span{
//              width: 0.5rem;
//              height: 0.2rem;
                display: block;
                
                text-align: center;
//              line-height: 0.2rem;
                
            }
        }
    }
}