
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont.woff') format('woff'),
  url('/static/font/iconfont.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont1.woff') format('woff'),
  url('/static/font/iconfont1.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont2.woff') format('woff'),
  url('/static/font/iconfont2.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont3.woff') format('woff'),
  url('/static/font/iconfont3.ttf') format('truetype')
 
}