
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont.woff') format('woff'),
  url('/static/font/iconfont.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont1.woff') format('woff'),
  url('/static/font/iconfont1.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont2.woff') format('woff'),
  url('/static/font/iconfont2.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont3.woff') format('woff'),
  url('/static/font/iconfont3.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont4.woff') format('woff'),
  url('/static/font/iconfont4.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont5.woff') format('woff'),
  url('/static/font/iconfont5.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont6.woff') format('woff'),
  url('/static/font/iconfont6.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont7.woff') format('woff'),
  url('/static/font/iconfont7.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont8.woff') format('woff'),
  url('/static/font/iconfont8.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont9.woff') format('woff'),
  url('/static/font/iconfont9.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont10.woff') format('woff'),
  url('/static/font/iconfont10.ttf') format('truetype')
 
}
@font-face {
  font-family: 'yofont';
  src: 
  url('/static/font/iconfont11.woff') format('woff'),
  url('/static/font/iconfont11.ttf') format('truetype')
 
}